:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
  color: #fff;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #030203;
  overflow: hidden;
}

/* icons color  */

.save {
  color: #26de5e;
}
/* repeated code */
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.adaptable-background {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
}

.numTracks {
  width: 51px;
}

/* top part */

.UpperPanel {
  height: 91vh;
  display: flex;
  padding: 0.5rem;
}

/* Header esta es la parte derecha de la pagina seria como el header */

.bottom-nav,
.topNav {
  background-color: #131312;
  border-radius: 8px;
}

/*  tama;o de los icons y estilos */
.navBar nav svg,
.bottom-nav svg,
.topNav svg {
  font-size: 27px;
  color: #fff;
}

.topNav {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 6rem;
  margin-bottom: 8px;
  justify-content: space-evenly;
}

.bottom-nav {
  height: 90%;
  padding: 10px;
}

.bottom-nav div {
  width: 46px;
  height: 46px;
  margin-top: 0.8rem;
  cursor: pointer;
}

.bottom-nav > svg:first-child {
  margin-top: 0.7rem;
  margin-left: 11px;
}

.bottom-nav .saveListalbum,
.trackCollection .ImgColletion {
  border-radius: 4px;
}

.bottom-nav .saveListartist {
  border-radius: 50%;
}

.saveList {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  background: linear-gradient(to bottom right, #4910ee, #bbe1df);
}
.saveList svg {
  font-size: 19px;
}

.front-collection .saveList svg {
  font-size: 73px;
}

/* main */

main {
  position: relative;
  width: 94vw;
  background-color: #131312;
  margin: 0 0px 0 8px;
  border-radius: 8px;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 1;
}

/* scroll */

main::-webkit-scrollbar {
  width: 13px;
}
main::-webkit-scrollbar {
  width: 13px;
}

main::-webkit-scrollbar-track {
  background: transparent;
}
main::-webkit-scrollbar-thumb {
  background-color: transparent;
}

main:hover::-webkit-scrollbar-thumb {
  background-color: #6d6c6d;
}

/* Home */

.home {
  margin: 4rem 1.3rem 18rem;
}
.home > h1:first-child {
  font-size: 26px;
  margin: 11px 0;
}

.HomeContent {
  display: flex;
  flex-wrap: wrap;
}

.contents {
  cursor: pointer;
  display: flex;
  align-items: center;
  background: #4c5252;
  height: 7vh;
  margin-right: 1vw;
  margin-bottom: 1vh;
  width: 29vw;
  min-width: 274px;
  border-radius: 4px;
  justify-content: space-between;
}

.imgHome {
  border-radius: 4px 0 0px 4px;
  margin-right: 0.7rem;
  width: 72px;
  height: 100%;
}

.imgHome svg {
  font-size: 23px;
}
.contents-name {
  width: 50%;
}
.contents-name h1 {
  font-size: 16px;
}
.contents-icons {
  width: 25%;
  position: relative;
}

.contents-icons .play-music {
  right: -10px;
  bottom: -22px;
  opacity: 1;
}
.contents-icons .off {
  opacity: 0;
}

/*  navBar */

.navBar {
  width: 96%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 3.4rem;
  padding: 0 1.5rem;
}

.navBar nav {
  display: flex;
}

.app-bar {
  display: flex;
}
.app-bar .iconsC svg {
  font-size: 24px;
}

/* iconos circlu */
.iconsC {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #070708a8;
  width: 32px;
  height: 32px;
  border-radius: 24px;
  margin-right: 0.6rem;
}

/*  search */

.search {
  padding: 1rem;
}

.inputSearch {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 279px;
  height: 45px;
  top: -8px;
  left: 7rem;
  background-color: #242424;

  border-radius: 28px;
  border: 2px solid transparent;
}
.inputSearch:hover {
  border: 2px solid #fff;
}
.inputSearch svg {
  margin: 0 5px 0 11px;
  font-size: 21px;
}
.inputSearch input {
  border: none;
  color: #fff;
  background-color: transparent;
}

.inputSearch input:focus {
  outline: none;
}

/*  */

.list > h1:first-child {
  font-size: 1.5rem;
}

.artis,
.album {
  margin-top: 1.4rem;
  display: flex;
  flex-wrap: wrap;
}

.contArtist,
.contAlbum {
  display: flex;
  flex-direction: column;
  margin: 0px 21px 24px 0px;
  border-radius: 10px;
  height: 230px;
  width: 158px;
  padding: 14px;
  background-color: #161618;
  cursor: pointer;
}

.contArtist .contImg {
  margin-bottom: 15px;
  width: 160px;
  height: 160px;
  border-radius: 50%;
}

.contAlbum .contImg {
  margin-bottom: 15px;
  width: 165px;
  height: 165px;
  border-radius: 7px;
}

.dateAlbum {
  display: flex;
  align-items: center;
}

.ContImgText > h1:first-child {
  font-size: 1rem;
}
.ContImgText > h1:nth-child(2) {
  color: #909191;
  font-weight: 400;
  font-size: 0.9rem;
}

/* ///////////////////////   StartSearch, search  /////////////////////////// */

.finding-main {
  display: flex;
  flex-wrap: wrap;
}

.StartSearch {
  margin-top: 6rem;
  display: flex;
  flex-wrap: wrap;
}

.contStart,
.contSongs {
  margin: 1.4rem 0.5rem;
  display: flex;
  flex-direction: column;
}

.contStart {
  margin-right: 2rem;
  position: relative;
}

.contStart > h1:first-child,
.contSongs > h1:first-child {
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

.searchMain {
  background-color: #181818;
  width: 333px;
  height: 182px;
  padding: 20px;
  border-radius: 10px;
}

.searchMain:hover {
  background-color: #313131;
}

.contName h1 {
  font-size: 1rem;
}

.searchMain .play-music {
  bottom: 25px;
  right: 6px;
}
/* credist de albums and name of the albums */
.dateAlbum h1 {
  color: #909191;
  font-weight: 400;
  font-size: 1rem;
}

.dateAlbum div {
  background-color: #909191;
  margin: 1px 6px 0px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
}

.searchMain h1 {
  font-size: 2rem;
}

.contImaMain {
  width: 83px;
  height: 83px;
  border-radius: 50%;
}

.contNameMain {
  margin-top: 1rem;
  display: flex;
  width: 72px;
  height: 27px;
  background-color: #101111;
  border-radius: 19px;
  align-items: center;
  justify-content: center;
}

.searchMain div h1 {
  font-size: 1rem;
}

.allSong {
  width: 55vw;
}

.contImgText .contImg,
.infoTrack .contImg {
  height: 43px;
  width: 43px;
  margin-right: 14px;
  border-radius: 4px;
}

.contImgText {
  display: flex;
}

/*//////////////  footer   /////////////*/

.footer-section {
  padding: 1rem;
  margin: 4rem 0;
}

.footer-links {
  display: flex;
  justify-content: space-between;
}

.footer-column,
.footer-column-icons {
  display: flex;
  flex-wrap: wrap;
}

.footer-column div {
  margin-right: 3rem;
}

.footer-column div h1,
.footer-column div ul li {
  padding-bottom: 1rem;
}

.footer-column-icons div {
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  margin-right: 0.8rem;
  background-color: #282829;
}
.footer-column-icons div svg {
  font-size: 22px;
}

.line {
  background-color: #525151;
  width: 100%;
  height: 1px;
}

.footer-section .line {
  margin: 2rem 0;
}

li {
  list-style: none;
}

.footer-info {
  display: flex;
  justify-content: space-between;
}

.footer-info ul {
  display: flex;
  justify-content: space-between;
}

.footer-info ul li {
  margin: 0rem 10px;
}

li {
  color: #989599;
  font-size: 0.8rem;
}

/*/ ///////////  Page   Album//////// ///////*/
/* fisrt part */

.front-album,
.front-collection {
  padding: 5rem 1rem 1rem;
  display: flex;
  align-items: flex-end;
}

.album-img-main,
.collection-img-main {
  margin-right: 1rem;
  min-width: 222px;
  height: 211px;
  box-shadow: 0px 0px 34px -7px rgba(0, 0, 0, 0.75);
}

.info-album > h1:first-child,
.info-collection > h1:first-child {
  font-size: 13px;
  font-weight: 400;
}

.point {
  border-radius: 50%;
  margin: 3px 5px 0px;
  height: 5px;
  width: 5px;
  background-color: #fff;
}
.artist-img {
  margin: 2px 4px;
  width: 21px;
  height: 21px;
  border-radius: 50%;
}

.artis-date,
.artis-info,
.collection-artis-date {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.artis-date h1,
.collection-artis-date h1 {
  font-size: 13px;
  font-weight: 500;
}

.artis-date > h1:first-child,
.collection-artis-date > h1:first-child {
  font-size: 15px;
  font-weight: 700;
}

/* secondt part */
.cont-list-music {
  padding: 1rem;
  position: relative;
}

.play-like-more {
  display: flex;
  align-items: center;
}

.play-music {
  cursor: pointer;
  margin-right: 1rem;
  height: 48px;
  font-size: 33px;
  border-radius: 50%;
  width: 48px;
  display: flex;
  background-color: #20d660;
  color: #070107;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: -11px;
  bottom: 5px;
  transition: 0.5s;
}

.play-like-more .play-music {
  position: inherit;
}

.like-more {
  display: flex;
}

.like-more svg {
  margin-right: 1rem;

  font-size: 35px;
}
.cont-list-music .line {
  margin: 0.5rem 0 1.5rem;
}
.gradient {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 170px;
  z-index: -1;
}

.list-songs {
  padding: 1.5rem 0;
}

.title-albumN-clock {
  margin: 0 74px 0 21px;
  display: flex;
  justify-content: space-between;
}

.title,
.albumN {
  display: flex;
}

.title {
  justify-content: space-between;
}

.title-clock {
  display: flex;
  justify-content: space-between;
  margin: 0 1rem;
}
.song-duration {
  display: flex;
}
.credits {
  margin-top: 3rem;
}

.credits h1 {
  color: #909191;
  font-weight: 400;
  font-size: 0.7rem;
}

.moreSimilar {
  padding: 1rem;
}

/*////////////// Page Artis///////////////  */

.contMainArtis {
  padding: 0.8rem;
  height: 18rem;
  display: flex;
  align-items: flex-end;
}
.img {
  margin-left: 0.3rem;
  width: 250px;
  height: 250px;
  border-radius: 1%;
  box-shadow: 0px 0px 34px -7px rgba(0, 0, 0, 0.75);
}

.contMainArtis div {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.infoArtistName {
  margin-left: 2vw;
}

/* titulo de artis and album */
.infoArtistName > h1:nth-child(1) {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  font-size: 4.5vw;
}

.infoArtistName > h1:nth-child(2) {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  font-weight: 400;
  margin: 0.5rem 1rem;
  font-size: 1.8vw;
}
.infoArtistName > h1:nth-child(3) {
  width: 100%;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  font-weight: 400;
  font-size: 13px;
  margin: 0.3rem 1.9rem;
}

.info-album > h1:nth-child(2),
.info-collection > h1:nth-child(2) {
  margin-bottom: 1rem;
  font-size: 4.2vw;
}

.play-follow {
  padding: 1.5rem;
  position: relative;
}

.follow {
  border-radius: 26px;
  margin: 0 1.7rem;
  border: 1px solid #90908f;
  cursor: pointer;
}

.follow h1 {
  padding: 5px 13px;
  font-size: 0.9rem;
}
.more svg {
  font-size: 2rem;
}

.popular,
.contlist {
  padding: 2rem;
}

.popular label {
  font-size: 1.6rem;
  font-weight: 700;
}

.tracks {
  padding: 1.3rem 2rem 0 0rem;
}

.track {
  border-radius: 4px;
  padding: 7px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.track.hover .song-duration,
.track.hover .contImgText,
.track.hover .infoTrack {
  color: #20d660;
}

.infoTrack {
  display: flex;
}

.trackNumTime {
  width: 35px;
  margin-right: 8px;
}

.trackNumTime svg {
  font-size: 1.3rem;
}

.contImg {
  margin-right: 0.8rem;
  position: relative;
}

.contImg svg {
  font-size: 30px;
}

.infoTrack .nameTrack {
  padding: 9px;
}

.nameTrack > h1:first-child {
  font-size: 1rem;
  font-weight: 400;
}

.nameTrack > h1:first-child:hover,
.track-artist span:hover,
.artis-date > h1:first-child:hover {
  text-decoration: underline;
  cursor: pointer;
}

.track-right {
  display: flex;
  align-items: center;
}

.track-icons {
  width: 23px;
  margin: 4px 1rem 0;
}

.track-icons svg {
  cursor: pointer;
  font-size: 18px;
}
.track-artist h1 {
  color: #acadac;
  font-size: 14px;
  font-weight: 400;
}

/* hover tracks , carts */

.track:hover {
  background-color: #5a5b5b;
}

.track-artist h1:hover {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
}

.contAlbum:hover,
.contArtist:hover {
  background-color: #2f2f2f;
}

.play-music.on {
  opacity: 1;
}

.play-music.off {
  opacity: 0;
  bottom: 0px;
}

/* collection page */
.collectionTitle {
  justify-content: normal;
  width: 98%;
  display: grid;
  grid-template-columns: 45% 21% 21% 13%;
}

.collectionTitle .title {
  justify-content: normal;
}
.collectionTitle .title h1,
.collectionTitle svg {
  margin: 0 0.4rem;
}
.collectionTitle .title h1,
.collectionTitle .albumN h1,
.collectionTitle .Date h1 {
  font-weight: 400;
  font-size: 0.875rem;
}

.collection {
  justify-content: normal;
  width: 98%;
  display: grid;
  grid-template-columns: 45% 21% 21% 13%;
}

.trackCollection {
  align-items: center;
}

.trackCollection > h1:first-child,
.trackCollection .ImgColletion {
  margin-right: 10px;
}

.number {
  width: 32px;
  height: 34px;
  color: #a7a7a7;

  margin-right: 0.4rem;
}
.number {
  font-size: 1rem;
  font-weight: 400;
}
.number svg {
  font-size: 1.5rem;
  color: #fff;
}
.collectionNameArtists > h1:first-child {
  font-size: 15px;
  font-weight: 400;
}
.collectionNameArtists > h1:nth-child(2) {
  color: #a7a7a7;
  font-size: 0.875rem;
  font-weight: 400;
}

.collectionNameArtists {
  overflow: hidden;
  width: 16vw;
  white-space: nowrap;
}

.ImgColletion {
  width: 40px;
  height: 40px;
}

.nameAlbum {
  margin-right: 8px;
  overflow: hidden;
  white-space: nowrap;
}
.nameAlbum p {
  font-size: 14px;
}
.nameAlbum:hover,
.collectionNameArtists > h1:nth-child(2) span:hover {
  text-decoration: underline;
  cursor: pointer;
  color: #fcfdfd;
}

.timeAgo h1 {
  font-weight: 400;
  font-size: 0.875rem;
}

/*////////////////////////////  reproduction   ///////////////////////// */

.reproduction {
  padding: 12px;
  width: 98vw;
  display: flex;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  background-color: #030203;
  z-index: 1;
}
.info-reproduction .contImg {
  cursor: pointer;
}
.info-reproduction .contImg {
  min-width: 56px;
  height: 53px;
  border-radius: 4px;
}
.info-reproduction {
  min-width: 300px;
  display: flex;
  align-items: center;
}

.player-controls,
.player-info {
  justify-content: center;
  display: flex;
  align-items: center;
}

.audio-player {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.reproduction .nameTrack h1 {
  height: 23px;
  overflow: hidden;
}
.player-controls svg {
  font-size: 33px;
}

.player-controls .play {
  width: 32px;
  height: 32px;
  margin: 0px 13px;
  background-color: #fcfdfd;
  color: #010101;
  border-radius: 50%;
  position: relative;
}

.player-controls .play svg {
  font-size: 41px;
  position: absolute;
  top: -5px;
  right: -6px;
}
.player-controls .play.pause svg {
  right: -4px;
}

.player-info input {
  width: 33vw;
  height: 5px;
  margin: 0px 6px;
}

.player-info span {
  font-weight: 400;
  font-size: 11px;
  color: #878786;
}

.volume {
  width: 28vw;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.iconsVolumen {
  margin: 5px;
  display: flex;
  align-items: center;
}

.volume input {
  width: 97px;
  height: 5px;
  margin: 0px 23px 0 8px;
}

.volume input,
.player-info input {
  -webkit-appearance: none;
  border-radius: 5px;
}

.player-info:hover input[type="range"]::-webkit-slider-thumb,
.volume:hover input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #fefffe;
}

.player-info input[type="range"]::-webkit-slider-thumb,
.volume input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: transparent;
}

/* animation bars */
.cont-bars {
  display: flex;
  margin-bottom: 8px;
  width: 12px;
  height: 20px;
  justify-content: space-evenly;
  align-items: flex-end;
}

.bar {
  content: "";
  height: 30px;
  width: 2px;
  background-color: #20d660;
  transition: 0.2s;
}

/*////////////////////////////////  /login///////////////////////////////*/
.login-cont {
  width: 100vw;
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.logo-container {
  margin-left: 4vw;
  display: flex;
  height: 10vh;
  background-color: #000000;
  align-items: center;
}

.logo-container svg {
  margin-right: 1vw;
  font-size: 42px;
}

.logo-container h1 {
  font-size: 25px;
}

.login-form-cont {
  display: flex;
  height: 90vh;
  background-color: #0d0d0d;
  align-items: center;
  justify-content: center;
}

.login-form {
  display: flex;
  padding: 1rem 3rem 0;
  border-radius: 10px;
  height: 81vh;
  width: 540px;
  justify-content: space-around;
  background-color: #000000;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.info-login {
  margin-left: 29px;
}

.login-cont h3 span {
  padding: 0px 8px;
  background: #1fd662;
  border-radius: 8px;
  cursor: pointer;
  margin-left: 8px;
  color: black;
  text-align: center;
}

.info-login h3 {
  margin: 6px 10px;
}

.login-form h1 {
  text-align: center;
  font-size: 45px;
  margin-bottom: 15px;
}

.login-form p {
  font-size: 23px;
  font-weight: 400;
}

.buttom-login {
  cursor: pointer;
  height: 3rem;
  width: 14rem;
  display: flex;
  border-radius: 30px;
  background: #1fd662;
  align-items: center;
  justify-content: center;
}

.login-cont .line {
  margin: 5vh 0;
  overflow: hidden;
  width: 70%;
}

.login-cont h3 {
  font-size: 15px;
  font-weight: 500;
}

/* Login */

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.dot {
  background-color: #333; /* Puedes ajustar el color según tus preferencias */
  border-radius: 50%;
  margin: 0 5px;
  transition: all 0.3s ease-in-out;
}

.PageNotFound {
  display: flex;
  width: 100%;
  height: 85vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.PageNotFound svg {
  margin-bottom: 2vh;
  font-size: 60px;
  color: #1fd662;
}

.PageNotFound h1 {
  margin-bottom: 1vh;
  font-size: 49px;
}

.PageNotFound h3 {
  font-size: 16px;
  font-weight: 300;
}

.PageNotFound div {
  cursor: pointer;
  margin-top: 4vh;
  background: #fff;
  width: 94px;
  color: black;
  display: flex;
  height: 46px;
  border-radius: 20px;
  align-items: center;
  justify-content: center;
}

.PageNotFound div h3 {
  font-size: 18px;
  font-weight: 500;
}
