:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0;
  padding: 0;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

h1 {
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

body {
  width: 100vw;
  height: 100vh;
  background-color: #030203;
}

.reproduccion {
  width: 97vw;
  height: 10vh;
}

/* top part */

.UpperPanel {
  height: 90vh;
  display: flex;
  padding: 0.5rem;
}

/* Header */

header {
}

.bottomNav,
.topNav {
  width: 69px;
  display: flex;
  flex-direction: column;
  background-color: #131312;
  border-radius: 8px;
  align-items: center;
}

/*  tama;o de los icons */
.navBar nav svg,
.bottomNav svg,
.topNav svg {
  font-size: 29px;
}

.topNav {
  height: 12vh;
  margin-bottom: 8px;
  justify-content: space-evenly;
}

.bottomNav {
  height: 74vh;
}

/* main */
main {
  position: relative;
  width: 91vw;
  background-color: #131312;
  margin: 0 8px;
  border-radius: 8px;
  padding: 13px;
}

/* Home */

.home {
}

/*  navBar */

.navBar {
  display: flex;
  justify-content: space-between;
  height: 60px;
}

.navBar nav {
  display: flex;
  width: 75px;
  justify-content: space-between;
}

.app-bar {
  width: 196px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.app-bar-item {
  display: flex;
  align-items: center;
  width: 123px;
  justify-content: space-between;
  background-color: #070708;
  border-radius: 24px;
}

/* iconos circlu */
.iconsC {
  text-align: center;
  background-color: #070708;
  width: 33px;
  height: 31px;
  border-radius: 24px;
}

/*  search */

.search {
}

.inputSearch {
  position: absolute;
  top: 11px;
  left: 123px;
}
