:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
  color: #fff;
}

* {
  margin: 0;
  padding: 0;
}

button {
  border-radius: 30px;
  margin-right: 0.7rem;
  border: 1px solid transparent;
  padding: 0.3em 0.9em;
  font-size: 0.9em;
  font-weight: 400;
  font-family: inherit;
  background-color: #1e1f1f;
  cursor: pointer;
  transition: border-color 0.25s;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: #030203;
  overflow: hidden;
}

/* repeated code */
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.adaptable-background {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
}
.contlist {
  margin-top: 1rem;
}

.numTracks {
  width: 51px;
}

/* top part */

.UpperPanel {
  height: 90vh;
  display: flex;
  padding: 0.5rem;
}

/* Header esta es la parte derecha de la pagina seria como el header */

.bottomNav,
.topNav {
  width: 65px;
  display: flex;
  flex-direction: column;
  background-color: #131312;
  border-radius: 8px;
  align-items: center;
}

/*  tama;o de los icons y estilos */
.navBar nav svg,
.bottomNav svg,
.topNav svg {
  font-size: 27px;
  color: #fff;
}

.topNav {
  height: 6rem;
  margin-bottom: 8px;
  justify-content: space-evenly;
}

.bottomNav {
  height: 74vh;
  padding-top: 1rem;
}

.bottomNav > svg:first-child {
  margin-bottom: 1rem;
}

.bottomNav div {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  width: 49px;
  height: 47px;
  background: linear-gradient(to bottom right, #4910ee, #bbe1df);
}
.bottomNav div svg {
  font-size: 19px;
}

/* main */

main {
  position: relative;
  width: 93vw;
  background-color: #131312;
  margin: 0 8px;
  border-radius: 8px;
  padding: 0 13px;
  overflow-y: auto;
}

/* Home */

.home {
}

/*  navBar */

.navBar {
  width: 84%;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 5rem;
}

.navBar nav {
  display: flex;
  width: 75px;
  justify-content: space-between;
}

.app-bar {
  width: 196px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.app-bar-item {
  display: flex;
  align-items: center;
  width: 123px;
  justify-content: space-between;
  background-color: #070708;
  border-radius: 24px;
}

/* iconos circlu */
.iconsC {
  text-align: center;
  background-color: #070708;
  width: 33px;
  height: 31px;
  border-radius: 24px;
}

/*  search */

.search {
  margin-top: 8rem;
}

.search::-webkit-scrollbar {
  width: 12px;
}

.search::-webkit-scrollbar-thumb {
  background-color: #5b5a5b;
  height: 20px;
}

.inputSearch {
  position: fixed;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 279px;
  height: 45px;
  top: 1rem;
  left: 12rem;
  background-color: #242424;
  border-radius: 28px;
  border: 2px solid transparent;
}
.inputSearch:hover {
  border: 2px solid #fff;
}
.inputSearch svg {
  margin: 0 5px 0 11px;
  font-size: 21px;
}
.inputSearch input {
  border: none;
  background-color: transparent;
}

.inputSearch input:focus {
  outline: none;
}

.menu {
  display: flex;
  position: fixed;
  top: 69px;
  background-color: #131312;
  width: 84%;
  padding: 5px 0 7px 0px;
}

/*  */

.list > h1:first-child {
  font-size: 1.5rem;
}

.artis,
.album {
  margin-top: 1.4rem;
  display: flex;
  flex-wrap: wrap;
}

.contArtist,
.contAlbum {
  display: flex;
  flex-direction: column;
  margin: 0px 21px 24px 0px;
  border-radius: 10px;
  height: 230px;
  width: 158px;
  padding: 14px;
  background-color: #161618;
  cursor: pointer;
}

.contArtist .contImg {
  margin-bottom: 15px;
  width: 160px;
  height: 160px;
  border-radius: 50%;
}

.contAlbum .contImg {
  margin-bottom: 15px;
  width: 165px;
  height: 165px;
  border-radius: 7px;
}

.dateAlbum {
  display: flex;
  align-items: center;
}

.ContImgText > h1:first-child {
  font-size: 1rem;
}
.ContImgText > h1:nth-child(2) {
  color: #909191;
  font-weight: 400;
  font-size: 0.9rem;
}

/* ///////////////////////   StartSearch, search  /////////////////////////// */

.finding-main {
  display: flex;
  flex-wrap: wrap;
}
.StartSearch {
  margin-top: 6rem;
  display: flex;
  flex-wrap: wrap;
}

.contStart,
.contSongs {
  margin: 1.4rem 0.5rem;
  display: flex;
  flex-direction: column;
}

.contStart {
  margin-right: 2rem;
}

.contStart > h1:first-child,
.contSongs > h1:first-child {
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

.searchMain {
  background-color: #181818;
  width: 333px;
  height: 182px;
  padding: 20px;
  border-radius: 10px;
}

.contName h1 {
  font-size: 1rem;
}

/* credist de albums and name of the albums */
.dateAlbum h1 {
  color: #909191;
  font-weight: 400;
  font-size: 1rem;
}

.dateAlbum div {
  background-color: #909191;
  margin: 1px 6px 0px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
}

.searchMain img {
  border-radius: 80px;
  width: 93px;
}

.searchMain h1 {
  font-size: 2rem;
}
.contImaMain {
  width: 83px;
  height: 83px;
  border-radius: 50%;
}

.contNameMain {
  display: flex;
  width: 72px;
  height: 27px;
  background-color: #101111;
  border-radius: 19px;
  align-items: center;
  justify-content: center;
}

.searchMain div h1 {
  font-size: 1rem;
}

.allSong {
  width: 55vw;
}

.contImgText .contImg,
.infoTrack .contImg {
  height: 43px;
  width: 43px;
  margin-right: 14px;
  border-radius: 4px;
}

.contImgText {
  display: flex;
}

/*//////////////  footer   /////////////*/

.footer-section {
  padding: 1rem;
  margin: 4rem 0;
}

.footer-links {
  display: flex;
  justify-content: space-between;
}

.footer-column,
.footer-column-icons,
.footer-column-icons {
  display: flex;
  flex-wrap: wrap;
}

.footer-column div {
  margin-right: 3rem;
}

.footer-column div h1,
.footer-column div ul li {
  padding-bottom: 1rem;
}

.footer-column-icons div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  margin-right: 0.8rem;
  background-color: #282829;
}
.footer-column-icons div svg {
  font-size: 22px;
}

.line {
  background-color: #252525;
  width: 100%;
  height: 1px;
}

.footer-section .line {
  margin: 2rem 0;
}

li {
  list-style: none;
}

.footer-info {
  display: flex;
  justify-content: space-between;
}

.footer-info ul {
  display: flex;
  justify-content: space-between;
}

.footer-info ul li {
  margin: 0rem 10px;
}

li {
  color: #989599;
  font-size: 0.8rem;
}

/*////////////  Page   Album//////// ///////*/
/* fisrt part */

.front-album {
  padding: 5rem 1rem 1rem;
  display: flex;
  align-items: flex-end;
}

.album-img-main {
  margin-right: 1rem;
  min-width: 222px;
  height: 211px;
}

.info-album > h1:first-child {
  font-size: 13px;
  font-weight: 400;
}

.point {
  border-radius: 50%;
  margin: 3px 5px 0px;
  height: 5px;
  width: 5px;
  background-color: #fff;
}
.artist-img {
  margin: 2px 4px;
  width: 21px;
  height: 21px;
  border-radius: 50%;
}

.artis-date,
.artis-info {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.artis-date h1 {
  font-size: 13px;
  font-weight: 500;
}

.artis-date > h1:first-child {
  font-size: 15px;
  font-weight: 700;
}

/* secondt part */
.cont-list-music {
  padding: 1rem;
}

.play-like-more {
  display: flex;
  align-items: center;
}

.play-music {
  cursor: pointer;
  margin-right: 1rem;
  height: 48px;
  font-size: 33px;
  border-radius: 50%;
  width: 48px;
  display: flex;
  background-color: #20d660;
  color: #070107;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: -11px;
  bottom: 5px;
  transition: 0.5s;
}

.play-like-more .play-music {
  position: inherit;
}

.like-more {
  display: flex;
}

.like-more svg {
  margin-right: 1rem;
  color: #9da9a6;
  font-size: 35px;
}

.cont-list-music .line {
  margin: 0.5rem 0 1.5rem;
}

.list-songs {
  padding: 1.5rem 0;
}

.title-clock {
  margin: 0 74px 0 21px;
  display: flex;
  justify-content: space-between;
}

.title {
  display: flex;
}
.song-duration {
  display: flex;
}
.credits {
  margin-top: 3rem;
}

.credits h1 {
  color: #909191;
  font-weight: 400;
  font-size: 0.7rem;
}

/*////////////// Page Artis///////////////  */

.contMainArtis {
  padding: 1.5rem;
  display: flex;
  height: 18rem;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-end;
}

/* titulo de artis and album */
.contMainArtis :nth-child(1),
.info-album > h1:nth-child(2) {
  margin-bottom: 1rem;
  font-size: 4.2vw;
}

.contMainArtis :nth-child(2) {
  font-weight: 500;
  font-size: 1rem;
}

.play-follow {
  padding: 1.5rem;
}

.follow {
  width: 4.3rem;
  border-radius: 26px;
  margin-right: 1.7rem;
  border: 1px solid #62615b;
  height: 1.8rem;
}

.follow h1 {
  font-size: 0.9rem;
}
.more svg {
  font-size: 2rem;
}

.popular {
  padding: 1rem 0;
}

.popular label {
  font-size: 1.6rem;
  font-weight: 700;
}

.tracks {
  padding: 1.3rem 2rem 0 0rem;
}

.track {
  border-radius: 4px;
  padding: 7px;
  display: flex;
  justify-content: space-between;
}

.track.hover .song-duration {
  color: #20d660;
}

.infoTrack {
  display: flex;
  flex-wrap: wrap;
}

.trackNumTime {
  width: 35px;
  margin-right: 8px;
}

.trackNumTime svg {
  font-size: 1.3rem;
}

.contImg {
  margin-right: 0.8rem;
  position: relative;
}

.contImg svg {
  font-size: 30px;
}

.infoTrack .nameTrack {
  padding: 9px;
}

.nameTrack > h1:first-child {
  font-size: 1rem;
  font-weight: 400;
}

.nameTrack > h1:first-child:hover,
.track-artist span:hover,
.artis-date > h1:first-child:hover {
  text-decoration: underline;
  cursor: pointer;
}

.track-right {
  display: flex;
  align-items: center;
}

.track-icons {
  width: 23px;
  margin: 4px 1rem 0;
}

.track-icons svg {
  font-size: 20px;
}
.track-artist h1 {
  color: #acadac;
  font-size: 14px;
  font-weight: 400;
}

/* hover tracks , carts */

.track:hover {
  background-color: #5a5b5b;
}

.track-artist h1:hover {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
}

.contAlbum:hover,
.contArtist:hover {
  background-color: #2f2f2f;
}

.play-music.on {
  opacity: 1;
}

.play-music.off {
  opacity: 0;
  bottom: 0px;
}

/*////////////////////////////  reproduction   ///////////////////////// */

.reproduction {
  padding: 12px;
  display: flex;
  justify-content: space-between;
}
.info-reproduction .contImg {
  min-width: 56px;
  height: 53px;
  border-radius: 4px;
}
.info-reproduction {
  min-width: 300px;
  display: flex;
  align-items: center;
}

.player-controls,
.player-info {
  justify-content: center;
  display: flex;
  align-items: center;
}

.audio-player {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.reproduction .nameTrack h1 {
  height: 23px;
  overflow: hidden;
}
.player-controls svg {
  font-size: 33px;
}

.player-controls .play {
  width: 32px;
  height: 32px;
  margin: 0px 13px;
  background-color: #fcfdfd;
  color: #010101;
  border-radius: 50%;
  position: relative;
}

.player-controls .play svg {
  font-size: 41px;
  position: absolute;
  top: -5px;
  right: -6px;
}
.player-controls .play.pause svg {
  right: -4px;
}

.player-info input {
  width: 33vw;
  height: 5px;
  margin: 0px 6px;
}

.player-info span {
  font-weight: 400;
  font-size: 11px;
  color: #878786;
}

.volume {
  width: 28vw;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.volume input {
  width: 97px;
  height: 5px;
  margin: 0 8px;
}

.volume input,
.player-info input {
  -webkit-appearance: none;
  border-radius: 5px;
}

.player-info:hover input[type="range"]::-webkit-slider-thumb,
.volume:hover input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #fefffe;
}

.player-info input[type="range"]::-webkit-slider-thumb,
.volume input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: transparent;
}

/* animation bars */
.cont-bars {
  display: flex;
  margin-bottom: 8px;
  width: 12px;
  height: 20px;
  justify-content: space-evenly;
  align-items: flex-end;
}

.bar {
  content: "";
  height: 30px;
  width: 2px;
  background-color: #20d660;
  transition: 0.2s;
}
